body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.centered-div {
    text-align: center;
    padding: 20px;
}

.circle-photo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle-photo {
    overflow: hidden;
    border-radius: 100%
    margin: 10px;
}

.circle-photo img {
    width: 100%;
    height: auto;
}

/* Add your styles here */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }

img {
    border-radius: 100%
}